@page
@model OdeFood.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Restaurants</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search" asp-for="SearchTerm" />
            <div class="input-group-append">
                <button class="btn btn-light">
                    <i class="fa fa-search fa-fw"></i>
                </button>
            </div>
        </div>
    </div>
</form>
<div class="form-group">
    <div class="input-group">
        <a asp-page="./Edit" class="btn btn-primary">New Restaurant</a>
       
    </div>
</div>

<div class=" card-deck">
    @foreach (var rest in Model.restaurant)
    {
        <partial name="_Summary" model="rest" />
    }
    </div>
